[submodule "rweather"]
	path = external/rweather
	url = https://github.com/rweather/arduinolibs
[submodule "optiboot"]
	path = external/optiboot
	url = git@github.com:kgyrtkirk/optiboot
[submodule "external/pubsubclient"]
	path = external/pubsubclient
	url = git@github.com:knolleary/pubsubclient.git
[submodule "external/ESP8266_new_pwm"]
	path = external/ESP8266_new_pwm
	url = git@github.com:StefanBruens/ESP8266_new_pwm.git
[submodule "external/IRremoteESP8266"]
	path = external/IRremoteESP8266
	url = git@github.com:markszabo/IRremoteESP8266.git
[submodule "external/IRremoteESP8266_ff"]
	path = external/IRremoteESP8266_ff
	url = git@github.com:AndrewMohawk/IRremoteESP8266.git
[submodule "external/DHT-sensor-library"]
	path = external/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library
[submodule "external/TinyWire"]
	path = external/TinyWire
	url = https://github.com/rambo/TinyWire/
[submodule "external/RFremote"]
	path = external/RFremote
	url = https://github.com/renatoaloi/RFremote
[submodule "external/rc-switch-sui77"]
	path = external/rc-switch-sui77
	url = https://github.com/sui77/rc-switch
[submodule "external/rc-switch-ml-protocoldet"]
	path = external/rc-switch-ml-protocoldet
	url = https://github.com/Martin-Laclaustra/rc-switch
	branch = protocollessreceiver
[submodule "external/Adalight-FastLED"]
	path = external/Adalight-FastLED
	url = https://github.com/dmadison/Adalight-FastLED/
[submodule "external/FastLED"]
	path = external/FastLED
	url = https://github.com/FastLED/FastLED
[submodule "external/Adalight"]
	path = external/Adalight
	url = https://github.com/adafruit/Adalight/
