[submodule "rweather"]
	path = external/rweather
	url = https://github.com/rweather/arduinolibs
[submodule "optiboot"]
	path = external/optiboot
	url = git@github.com:kgyrtkirk/optiboot
[submodule "external/pubsubclient"]
	path = external/pubsubclient
	url = git@github.com:knolleary/pubsubclient.git
