[submodule "rweather"]
	path = external/rweather
	url = https://github.com/rweather/arduinolibs
[submodule "optiboot"]
	path = external/optiboot
	url = git@github.com:kgyrtkirk/optiboot
[submodule "external/pubsubclient"]
	path = external/pubsubclient
	url = git@github.com:knolleary/pubsubclient.git
[submodule "external/ESP8266_new_pwm"]
	path = external/ESP8266_new_pwm
	url = git@github.com:StefanBruens/ESP8266_new_pwm.git
[submodule "external/IRremoteESP8266"]
	path = external/IRremoteESP8266
	url = git@github.com:markszabo/IRremoteESP8266.git
[submodule "external/IRremoteESP8266_ff"]
	path = external/IRremoteESP8266_ff
	url = git@github.com:AndrewMohawk/IRremoteESP8266.git
[submodule "external/DHT-sensor-library"]
	path = external/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library
